<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div id="footerWrap" th:fragment="footerFrag">
	
	<div class="footCompany">상호 : (주)하루배움 | 대표자명 : 이할배 | 사업자등록번호 : 505-05-50505</div>
	<div class="footAddress">주소 : 서울 금천구 가산디지털2로 95 3층 305호 (KM 타워)</div>
	<div class="foot">통신판매업 신고번호 : 1234-오동통통-56789 | 전화번호 : 112 | 메일주소 : haru@halbae.com</div>
	<div>(주)하루배움은 통신판매중개자(플랫폼사업자)이며 통신판매의 당사자가 아닙니다. 따라서 (주)하루배움은 튜터가 등록한 상품• 클래스정보 및 거래에 관한 의무와 책임을 구매자에게 지지 않습니다.<br> 한편 (주)하루배움에 튜터로 등록, 중개 판매한 클래스는 튜터가 중개거래 서비스를 받은 소비자에게 의무와 책임을 전적으로 부담하여야 합니다.</div>
	<div>Copyright ⓒ2023 halbae inc, ltd. All rights reserved</div>
</div>

